<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.func.mapper.TrainRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.func.entity.TrainRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="train_id" property="trainId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, user_id, train_id, create_time
    </sql>

    <select id="selectTrainRecordList" resultType="com.kalvin.kvf.modules.func.entity.TrainRecord">
        select <include refid="Base_Column_List" /> from func_train_record
        <trim prefix="where" prefixOverrides="and">
            <if test="trainRecord.userId != null and trainRecord.userId != ''">
                and user_id like concat(#{trainRecord.userId}, "%")
            </if>
            <if test="trainRecord.trainId != null">
                and train_id = #{trainRecord.trainId}
            </if>
            <if test="trainRecord.createTime != null">
                and create_time = #{trainRecord.createTime}
            </if>
        </trim>
    </select>

</mapper>
